.planets-component {
  width: 100%;
  position: relative;
  display: flex;

  &__nav {
    display: flex;
    width: 18.5%;
    height: 100%;
  }

  &__backdrop-nav {
    @extend .planets-component__nav;
    opacity: 60%;
  }

  &__contents {
    display: flex;
    width: 81.5%;
  }

  &__backdrop-contents {
    @extend .planets-component__contents;
    opacity: 60%;
  }
}
