$violet: #154064;
$lightGray: #e0e0e0;
$purple: #1c5686;
$darkGray: #828282;
$black: #333333;
$lightSilver: #f2f2f2;
$darkBrown: #0000001a;
$lightBlack: #828282;
$white: #ffffff;

@import "mixins.scss";
@import "sideNavigationComponent.scss";
@import "contentComponent.scss";
@import "tableComponent.scss";
@import "tableHeaderComponent.scss";
@import "tableRecordComponent.scss";
@import "favoriteIconComponent.scss";
@import "favoriteListComponent.scss";
@import "favoriteComponent.scss";
@import "planetDetailComponent.scss";

.page {
  display: flex;
  height: 100%;

  &__nav {
    display: flex;
    width: 18.5%;
  }

  &__contents {
    display: flex;
    width: 81.5%;
  }
}
