.table-header-component {
  width: 100%;
  height: 2.5rem;
  display: flex;
  border: 1px $lightGray;
  border-style: solid none;

  &__column {
    width: 20%;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;

    &--text {
      @include text-properties(400, 14px, 16px, $darkGray);
    }

    &--icon {
      margin-left: 0.5rem;

      &-rotate {
        @extend .table-header-component__column--icon;
        transform: rotate(180deg);
      }
    }
  }
}
